/*------NPS Classes-------*/

#_ft_nps_small_ {
	width: 22rem;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	margin-left: 6px;
}

#_ft_nps_small_.top {
	display: block;
	-webkit-animation-name: fadeTop;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeTop;
	animation-duration: 0.5s
}

._ft_nps_container_ {
	color: #263238;
	background-color: #f4f7f9;
	padding: 10px;
	border-radius: 6px;
	line-height: 15px;
	font-family: Helvetica, Arial, sans-serif;
	box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.4);
	margin-top: 1rem;
}

._ft_nps_score_ div {
	background-color: #fff;
	text-align: center;
	height: 28px;
	width: 30px;
	padding: 6px;
	cursor: pointer;
	border: #00000029 solid 1px;
	border-radius: 5px;
	font-size: 0.8rem;
}

._ft_nps_text_ {
	margin-top: 5px;
}

._ft_nps_button_ {
	color: #0074d9;
	font-size: 1rem;
	cursor: pointer;
	padding-top: 15px;
}

#__ft_nps_ini_lat_ {
	padding-bottom: 1rem;
	text-align: end;
}

#__ft_nps_aft_lat_ {
	float: left;
}

._ft_nps_submit_button_ {
	font-family: inherit;
    font-size: .875rem;
	font-weight: 500;
    cursor: pointer;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #fff;
    background-color: #0074d9;
	border-radius: 3px;
	margin-top: -10px;
    float: right;
}

#_ft_nps_small_ ._ft_nps_submit_button_ {
	margin-top: 1rem;
}

._ft_notif_close_ {
	height: 16px;
	margin: 8px;
}

._ft_notif_close_holder_ {
	cursor: pointer;
	float: right;
	border-radius: 50%;
	margin-bottom: 5px;
	height: 32px;
	width: 32px;
	overflow: hidden;
}

._ft_modal_close_holder_ {
	cursor: pointer;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	overflow: hidden;
	position: absolute;
    right: 5px;
	top: 5px;
	background-color: white;
    z-index: 1;
}

/* ._ft_modal_close_holder_:hover {
	background-color: #aaaaaa29;
} */

._ft_modal_close_ {
	height: 20px;
	margin: 5px;
}

#_ft_nps_msg_ {
	margin-left: 0px;
}

._ft_nps_comment_msg_ {
	display: flex;
	margin-top: 5px;
}

._ft_nps_comment_msg_ .input-msg {
	border: 1px solid #fff;
	flex: 1 1 auto;
	font-size: 16px;
	outline: none;
	min-width: 50px;
	border-radius: 10px;
}

._ft_nps_comment_msg_ .modal-msg {
	border-radius: 25px;
}

._ft_score_red_:hover {
	color: red;
}

._ft_score_blue_:hover {
	color: blue;
}

._ft_score_green_:hover {
	color: green;
}

._ft_nps_selected_red_ {
	color: white;
	background-color: red !important;
}

._ft_nps_selected_blue_ {
	color: white;
	background-color: blue !important;
}

._ft_nps_selected_green_ {
	color: white;
	background-color: green !important;
}

#_ft_nps_comments {
	display: none;
	height: 10rem;
	-webkit-animation-name: __ft_animatedisplay_;
	-webkit-animation-duration: 1s;
	animation-name: __ft_animatedisplay_;
	animation-duration: 1s
}

#_ft_nps_comment_box_ {
	width: 88%;
}

#_ft_modal_ {
	position: fixed;
	z-index: 1;
	/* padding-top: 40vh; */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

#_ft_modal_ ._ft_nps_modal-content {
	background-color: fbf7f7;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	margin: auto;
	margin-top: 200px;
	padding: 15px;
	border-radius: 10px;
	width: 24rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: __ft_animatetop_;
	-webkit-animation-duration: 0.4s;
	animation-name: __ft_animatetop_;
	animation-duration: 0.4s;
}

#_ft_modal_ ._ft_ann_modal_ {
	position: relative;
	margin: auto;
	margin-top: 50px;
	-webkit-animation-name: __ft_animatetop_;
	-webkit-animation-duration: 0.4s;
	animation-name: __ft_animatetop_;
	animation-duration: 0.4s;
	width: 600px;
	font-family: sans-serif;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

#__ft_nps_thanks_ {
	display: none;
	width: 200px;
}

#__ft_nps_thanks_ ._ft_nps_text_ {
	font-size: 12px;
}

#_ft_small_ {
	display: none;
}

#_ft_small_.top {
	display: block;
	-webkit-animation-name: fadeTop;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeTop;
	animation-duration: 0.5s
}

/* Add Fibotalk Animation */

@keyframes_ __ft_animatetop_ {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@-webkit-keyframes __ft_animatetop_ {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes_ __ft_animatedisplay_ {
	from {
		display: none;
	}

	to {
		display: block;
	}
}

@-webkit-keyframes __ft_animatedisplay_ {
	from {
		display: none;
	}

	to {
		display: block;
	}
}

@-webkit-keyframes fadeTop {
	from {
		margin-top: -100%;
		opacity: 0
	}

	to {
		margin-top: 10px;
		opacity: 1
	}
}

@keyframes fadeTop {
	from {
		margin-top: -100%;
		opacity: 0
	}

	to {
		margin-top: 10px;
		opacity: 1
	}
}

/******************* Announcement classes *********************/

._ft_ann_notif_ {
	display: flex;
	background-color: #fff;
	width: -webkit-fit-content;
    width: fit-content;
	border-radius: 10px;
	border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #aaa;
	font-family: Helvetica, Arial, sans-serif;
	margin: auto;
    margin-top: 5px;
}

._ft_ann_notif_btns_ {
	border-left: 1px solid #ccc;
    text-align: center;
	font-size: 11px;
	color: #4169e1;
    cursor: pointer;
	min-width: 50px;
}

._ft_ann_notif_text_ {
	cursor: pointer;
    border-left: none;
	border-right: none;
	max-width: 180px;
}

._ft_ann_notif_cta_ {
	border-bottom: 1px solid #ccc;
	padding: 4px;
	height: 50%;
	font-weight: 900;
}

#_ft_close_ {
	padding: 4px;
}

.annCtaButton {
	font-size: 10px;
	padding: 2px 7px;
	border: 1px solid #aaa;
	border-radius: 9px;
	cursor: pointer;
}

._ft_ann_notif_img_ {
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 5px;
}

._ft_ann_notif_title_ {
	font-size: 13px;
	font-weight: 600;
}

._ft_ann_notif_sub_ {
	font-size: 11px;
}

._ft_ann_notif_media_ {
	height: 45px;
	max-width: 105px;
}

._ft_ann_notif_img_holder_ {
	padding: 5px;
    border-right: none;
}

.__ft_notif_ {
    color: #263238;
    background-color: #f4f7f9;
    padding: 17px 20px;
    border-radius: 6px;
	max-width:270px;
	min-width:150px;
	font-weight: 100;
	margin: 8px;
    font-size:13px;
    line-height:15px;
    font-family: Helvetica, Arial, sans-serif;
	cursor:pointer;
	box-shadow: 0 0 10px 2px rgba(50,50,50,0.4);
	z-index:2147483646;
}

.__ft_agent_chat_img__ {
    float: left;
    margin-left: -23px;
	margin-top: -23px;
}

.__ft_agent_chat_img__ .agentimg {
    height:40px !important;
    width:40px !important;  
    border-radius: 50%;
}

.bootstrapBody {
	background-color: #fff;
	border-radius: 5px;
}
.statement {
	font-weight: 400;
    font-size: 13px;
}
.close:focus, .close:hover, #_ft_small_:hover .close {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
	opacity: .4;
	transition: 0.15s;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0;
	margin-bottom: -21px;
    margin-right: 15px;
}

body {
	background-color: transparent;
}

p {
	margin-bottom: 0em;
}